:root {
  --font-primary: Inter, sans-serif;
  --color-background: #fafafa;
  --color-text: #0e0e0e;
  --color-link-hover: #285bf4;
  --color-btn1-hover: #193384;
  --color-btn2: #285bf440;
  --color-btn2-hover: #285bf460;
  --color-box-shadow: #1c1e2155;
  --color-card-bg: #f1f1f1;
  --color-card-bg-hover: #e9e9e9;
  --color-border: #3f516452;
}

/* Global Styles */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  --color-background: #0e0e0e;
  --color-text: #ecf0f1;
  --color-box-shadow: #0a0a0a;
  --color-card-bg: #151515;
  --color-card-bg-hover: #191919;
  --color-border: #ecf0f13e;
}

header, main {
  padding-left: 3rem;
  padding-right: 3rem;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-btn1-hover);
}

span {
  color: var(--color-link-hover);
}

b {
  font-weight: 500;
  color: var(--color-link-hover);
}

.container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fixed {
  display: flex;
  width: 1340px;
}

section.container-fixed {
  padding-top: 16rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.btn {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card-item {
  background-color: var(--color-card-bg);
  border-radius: 2rem;
  padding: 3rem;
  transition: box-shadow 0.3s, transform 0.3s, background-color 0.2s;
}

/* .card-item:hover {
  background-color: var(--color-card-bg-hover);
} */

.card-item p {
  margin-bottom: 0;
}

/* Navbar Styles */
nav.container-fixed {
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

nav #logo a {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 13px;
  padding: 5px 10px;
}

nav #logo a:hover {
  background-color: var(--color-card-bg);
}

div#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.desktop-links,
#light-mode,
#github-link {
  padding: 0 0.8rem;
}

#light-mode {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

#github-link {
  display: flex;
  align-items: center;
}

ul.desktop-links {
  margin: 0;
}

ul.desktop-links li {
  display: inline-block;
  padding-left: 1.5rem;
}

ul.desktop-links li a {
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px 10px;
}

ul.desktop-links li a:hover {
  background-color: var(--color-card-bg);
}

#theme-switch {
  border-radius: 20px;
  border: 1px solid var(--color-border);
  background-color: var(--color-border);
  height: 1.1rem;
  width: 2.2rem;
  padding: 0.05rem 0.05rem;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: border 0.3s;
}

#theme-switch:hover {
  border: 1px solid var(--color-link-hover);
}

#checkball {
  position: relative;
  left: 0;
  background-color: var(--color-background);
  width: 50%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 0.1rem grey;
  transition: transform 0.2s ease;
}

#checkball i {
  font-size: 0.65rem;
}

#github-link a i {
  vertical-align: -10%;
  font-size: 1.4rem;
  color: var(--color-text);
}

#github-link a i:hover {
  color: var(--color-link-hover);
}

#github-link a i:active {
  color: var(--color-btn1-hover);
}

#mobile-nav-menu {
  display: none;
  border-radius: 10px;
  padding: 10px;
}

#mobile-nav-menu:hover {
  background-color: var(--color-card-bg);
  cursor: pointer;
}

#offcanvas-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  background-color: var(--color-card-bg);
  transition: transform 0.3s;
}

#offcanvas-menu div {
  gap: 2rem;
  padding: 1rem;
  align-items: unset;
}

#offcanvas-menu i {
  align-self: flex-end;
}

#offcanvas-menu i:hover {
  cursor: pointer;
  color: var(--color-link-hover);
}

#offcanvas-menu i:active {
  color: var(--color-btn1-hover);
}

#offcanvas-menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 1rem;
}

#offcanvas-menu li {
  padding: 0;
}

#offcanvas-menu li a {
  background-color: var(--color-card-bg-hover);
  padding: 10px;
  border-radius: 10px;
  display: block;  
}

/* Hero Section Styles */
#hero .content {
  flex: 2;
  display: flex;
  justify-content: center;
  padding-right: 3rem;
}

#cta-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
}

/* Button Styles */
#hero .btn:first-child,
#contact .btn {
  color: #f3f3f3;
  background-color: var(--color-link-hover);
}

#hero .btn:first-child:hover,
#contact .btn:hover {
  background-color: var(--color-btn1-hover);
}

#hero .btn:first-child:active,
#contact .btn:active {
  background-color: var(--color-border);
}

#hero .btn:last-child {
  color: var(--color-link-hover);
  background-color: var(--color-card-bg);
  transition: background-color 0.3s;
}

#hero .btn:last-child:hover {
  background-color: var(--color-btn2);
}

#hero .btn:last-child:active {
  background-color: var(--color-btn1-hover);
}

#profile-img {
  flex: 1;
}

#profile-img img {
  border-radius: 100%;
  width: 75%;
}

/* About Me Styles */
#about-me .cards {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* Skills Styles */
#dev-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-card-bg);
  transition: transform 0.1s ease-out;
}

.icon i {
  position: absolute;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.icon img {
  width: 3rem;
  transition: opacity 0.3s ease-out;
}

.icon:hover {
  transform: scale(1.25);
  background-color: var(--color-card-bg-hover);
}

.icon.hovered {
  transform: scale(1.05);
}

/* Projects Section Styles */
.projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-gallery {
  padding-top: 3rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 2rem;
}

.project-gallery .card-item h3 a i {
  visibility: hidden;
  margin: 10px 0 0 5px;
}

.project-gallery .card-item h3 a:hover i {
  visibility: visible;
}

/* Contact Section Styles */
#contact {
  justify-content: center;
  align-items: center;
}

#contact .flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .btn {
  margin-top: 3rem;
}

/* Footer Styles */
footer {
  margin-top: 12rem;
  border-top: 1px solid var(--color-border);
  padding: 3rem;
}

.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

#socials a {
  display: inline-block;
}

#socials h3 {
  display: inline-block;
}

#socials ul {
  flex-direction: row;
}

#language {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#language p,
#language i {
  margin: 0;
  color: var(--color-text);
}

#lang-dropdown {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-card-bg);
  padding: 5px 15px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

#dropdown-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 5px;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#dropdown-menu.hidden {
  display: none;
}

.dropdown-item {
  padding: 10px;
  border-radius: 7px;
  /* width: fit-content; */
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--color-card-bg-hover);
}

.contact-info-icon {
  width: 1.5rem;
  display: inline-flex;
  justify-content: center;
}

#contact-info i {
  width: 16px;
  /* padding-right: 1rem; */
}

#contact-info p {
  display: inline-block;
  margin: 0;
}

/* Media Queries */
@media only screen and (max-width: 1380px) {
  .container-fixed {
    width: 100%;
  }

  #about-me .cards {
    flex-direction: column;
  }

  h1 {
    font-size: 3.6rem;
  }

  #dev-icons {
    gap: 1rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 1220px) {
  h1 {
    font-size: 3.2rem;
  }

  .project-gallery {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.3rem;
  };

  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer .container-fixed {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
  }
}
@media only screen and (max-width: 950px) {
  nav.container-fixed {
    padding-top: 1rem;
  }

  #nav-links .desktop-links {
    display: none;
  }

  #light-mode {
    border-left: none;
  }

  #mobile-nav-menu {
    display: block;
  }

  section.container-fixed {
    padding-top: 12rem;
  }

  #hero {
    padding-top: 10rem;
    flex-direction: column;
  }

  #hero .content {
    order: 1;
    padding: 0 1.5rem;
    text-align: center;
  }

  #cta-buttons {
    justify-content: center;
  }

  #profile-img {
    order: 0;
    padding-bottom: 2rem;
  }

  #profile-img img {
    width: 8rem;
  }

  .project-gallery .card-item h3 a i {
    visibility: visible;
  }
}

@media only screen and (max-width: 685px) {
  h1 {
    font-size: 2.1rem;
  }

  #hero .content {
    padding: 0;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 520px) {
  header, main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Navbar padding fix */
  nav.container-fixed {
    padding-top: 1rem;
  }

  footer {
    font-size: small;
  }
}

@media only screen and (max-width: 450px) {
  nav #logo a {
    font-size: 1.2rem;
  }

  #hero h1 {
    font-size: 1.8rem;
  }
}